{% extends 'base.html.twig' %}
{% block title %}
    {{ '404.title'|trans({},'exception') }}
{% endblock %}
{% block top %}
{% endblock %}
    {% block content %}
        <div class="text-center">
        <h1 class="display-1">
            {{ '404.title'|trans({},'exception') }}
        </h1>
        <h1 class="display-4">
            {{ '404.content'|trans({},'exception') }}
        </h1>
        </div>
    {% endblock %}
{% block footer %}
{% endblock %}