{% extends 'base.html.twig' %}
{% block title %}
    {{ 'about.site_name'|trans({}, 'controller') }}
{% endblock %}
{% block content %}
    <div class="container">
        <div id="head-title">
        <h1>{{ 'about.site_name'|trans({}, 'controller') }}</h1>
        <div class="line"></div>
    </div>
        <div class="content">
            <div class="about">
                <p>In vitae libero nec nunc viverra accumsan. Etiam eleifend sem odio, eu porttitor nisi semper ac. Etiam sem mi, tincidunt vel facilisis sed, imperdiet congue ante. Donec porttitor libero eget elit lacinia fermentum ut vitae sapien. Proin quis leo suscipit, scelerisque erat sit amet, rutrum elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed ornare orci, blandit volutpat purus. Nulla facilisi. Suspendisse potenti.

                    Etiam non tempus leo. Aenean vel ex vestibulum ante pretium imperdiet. Sed iaculis interdum ullamcorper. Aliquam feugiat aliquam finibus. Donec aliquam non ligula eu gravida. Fusce erat nisi, dictum quis malesuada sit amet, pellentesque tempor lectus. Nunc non erat porttitor nisl blandit feugiat eget eu dolor. Nulla nec interdum mi, sed cursus tellus. Aenean sagittis ante ut facilisis vehicula. In maximus diam sed elit sollicitudin maximus. In ultrices turpis vitae purus tempor auctor. Quisque sed gravida dolor. Sed non quam dignissim, ultrices libero cursus, volutpat ex. Proin sed arcu aliquet, imperdiet sapien non, hendrerit odio.

                    Nullam sed dictum metus. Phasellus sed metus laoreet, auctor urna a, consequat est. Aliquam efficitur malesuada odio ut sagittis. Aliquam ut rutrum eros, at eleifend lectus. Pellentesque erat tellus, aliquam in commodo quis, lacinia eget dolor. Morbi fermentum hendrerit orci, ac tempor nisl gravida eu. Vivamus eleifend mauris turpis, non fermentum risus efficitur sed. Sed nec augue et lorem ultricies consectetur. Ut fermentum, nisl eu tincidunt tempor, neque ipsum finibus sapien, at faucibus dui erat eget augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum vel purus eu sem sodales cursus. Nulla facilisi. Nam vitae nibh sed libero congue rhoncus sed sit amet tortor. Duis ligula risus, accumsan eu enim in, posuere congue urna. Cras dui augue, pretium vel molestie in, pellentesque sed tellus.

                    Vestibulum lacinia urna sit amet pretium posuere. In pellentesque ultricies quam ut pellentesque. Praesent vitae neque lacus. Aliquam imperdiet, ipsum sed sollicitudin aliquet, diam velit tincidunt ipsum, sed blandit lectus augue a lorem. Suspendisse scelerisque augue eget lectus fermentum dignissim. Nullam pharetra, neque a venenatis ornare, diam sem gravida augue, eu vestibulum odio nisl a ante. Curabitur nec ornare felis. Cras eu turpis dignissim, sodales velit eget, egestas dolor. Maecenas facilisis tempor quam, in tempus mauris ornare non. Donec placerat justo neque, vel pulvinar leo eleifend sed. Fusce eu eros et purus auctor ultrices.</p>
            </div>
        </div>
    </div>
{% endblock %}
